.card {
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display:flex;
  gap:1rem;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #FD5E85;
  color: #FD4371;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.cover{
  margin:0 auto;
  position:relative;
  width:80%;
}

.cover  img{
    width:100%;     
}
.details{
  margin-top: .5rem;
}
.category{
  background-color: #FD5E85;
  padding: 0.3rem 0.8rem;
  color: white;
  border-radius: 20px;
}
.details h2{
  margin-top: 1rem;
}
