html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1{
  font-size:4rem;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Styles only for grid blog porpuse */
.featured{
  grid-column: 1/ 7;
}
.featured div {
  display:flex;
  gap:2rem;
}
.featured div div{
  display:block;
}

.relevant1{
  grid-column: 1/4;
}

.relevant2{
  grid-column:4/7;
}

