html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
ul {
  font-size: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  grid-row: 1/2;
  grid-column: 1/6;
}
.main {
  grid-column: 1/7;
  @apply sm:w-full sm:min-h-screen;
}
.home-main {
  grid-column: 2/7;
}
@media (min-width: 768px) {
  .home-main {
    grid-column: 3/7;
  }
}
.sidebar {
  grid-column: 1/2;
}

.general-container {
  @apply bg-slate-50 grid w-full;
  grid-template-columns: 0.5fr 0.25fr 1.5fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.center {
  margin: 0 auto;
}
.container {
  @apply sm:py-12 py-6 sm:pr-12 pr-6;
}
.section-home {
  @apply lg:h-screen flex justify-center items-center;
}
.card {
  @apply bg-white  md:rounded-xl p-3 md:p-2 md:shadow-lg my-3 md:my-0;
}
.icon-card span {
  @apply w-1;
}
.btn-primary {
  @apply bg-rose-500 p-3 text-slate-50;
  @apply hover:opacity-75;
}
.title {
  @apply lg:text-7xl text-5xl font-semibold lg:leading-tight;
}

.title-2 {
  @apply lg:text-5xl md:text-4xl text-2xl mb-4;
}

.title-3 {
  @apply lg:text-3xl text-2xl mb-2;
}

.title-4 {
  @apply lg:text-xl text-lg mb-2 leading-6;
}

.text-enphasis {
  @apply lg:text-2xl my-3 text-slate-500;
}

.details {
  @apply text-rose-500 lg:text-xl;
}
.nav-home,
.nav {
  @apply flex content-center items-center gap-4;
}
.nav-home li,
.nav li {
  @apply p-1 hover:border-b-2 border-b-rose-500;
}
.nav li:last-child,
.nav-home li:last-child {
  @apply hover:border-0;
}

.layer {
  background: rgba(225, 29, 72, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  inline-height: 0;
  padding: 0;
  margin: 0;
}

.layer:hover {
  background-color: transparent;
}

.ul-about li::before {
  content: "»";
  margin-right: 0.5rem;
  font-size: 1.5rem;
  @apply text-rose-500;
}

.input-field {
  @apply p-2 text-lg border-rose-300 border-2 rounded-md;
  @apply focus-visible:outline-2 outline-rose-400;
}

/* Styles for Experience table only */
.organizations-list {
  @apply border-t-2 md:border-l-2 md:border-b-0 md:border-rose-200;
  margin: 0;
  padding: 0;
  @apply flex md:block;
}
.organizations-list li:focus-visible,
.organizations-list li:hover {
  @apply h-full md:w-full md:h-auto;
  @apply md:bg-rose-500 md:text-slate-50;
}

.organizations-list li button {
  @apply h-full md:w-full md:h-auto;
  padding: 1rem;
  @apply center md:text-left;
  background-color: transparent;
  border: none;
}
.organizations-list li button:focus-visible,
.organizations-list li button:focus {
  margin-left: -3px;
  outline-color: transparent;
  @apply bg-rose-500 text-slate-50;
}
@media (min-width: 768px) {
  .organizations-list li button:focus-visible,
  .organizations-list li button:focus {
    margin-left: 0;
    margin-top: -1px;
  }
}
/* Recent posts */
.presentation-blog {
  @apply md:h-[28rem];
  @apply md:grid md:grid-cols-2 grid-rows-2 gap-x-6 gap-y-3 place-items-stretch;
}
.last-post {
  @apply md:row-span-full h-full;
}
.last-post div:first-child {
  @apply md:h-60;
}
.last-post div:first-child div span img {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  object-fit: contain;
}

.last-post div:last-child h3 {
  @apply title-2 md:text-2xl md:my-3 md:leading-6;
}
.last-post div:last-child div:nth-child(2) p {
  @apply text-base lg:text-xl mb-2;
}

.card-featured {
  @apply md:flex md:py-5;
}
.card-featured div:first-child {
  @apply md:w-48  md:h-full mr-3;
}
.card-featured div:first-child div span img {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  object-fit: cover;
}
.card-featured div:last-child div:nth-child(2) p {
  @apply lg:text-sm text-base;
}
.card-featured div:last-child h3 {
  @apply title-2 md:text-lg md:leading-5 md:mt-3;
}

/* All post section */
.normal-blog {
  @apply md:h-[25rem];
}
.normal-blog h3 {
  @apply title-4;
}
.normal-blog div:first-child {
  @apply md:h-44;
}
.normal-blog div:last-child {
  @apply md:h-40;
}
.normal-blog div:last-child p {
  @apply text-base lg:text-sm mb-2;
}
.normal-blog div:first-child div span img {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  object-fit: contain;
}

/* //Content embed in blog */
.content-import {
  @apply text-left sm:text-justify lg:max-w-[90%] center;
}
.content-import h2 {
  @apply title-2 my-6;
}
.content-import h3 {
  @apply title-3;
}
.content-import p {
  @apply my-1.5 text-base;
  @apply lg:my-3 lg:text-lg;
}

.content-import ul {
  @apply list-disc ml-6 mr-3;
  @apply lg:ml-16 lg:mr-6;
}
.content-import ul li {
  @apply my-1.5 text-base;
  @apply lg:my-3 lg:text-lg;
}
.content-import blockquote {
  @apply my-3 ml-6 py-2 px-4 italic border-l-4 bg-rose-50 text-base text-neutral-600 border-rose-500;
  @apply lg:my-5 lg:mx-12 lg:py-4 lg:px-8 text-xl;
}
.content-import ol {
  @apply list-decimal pl-8;
}

.content-import a{
  @apply text-blue-600 underline;
}

.custom-hidden {
  @apply hidden;
  @media (min-width: 768px) {
    display: relative;
  }
}
