html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, ul{
  font-size:1.25rem;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  margin: 0 auto;
}
.container {
  @apply w-9/12 p-12; 
}
.section-home {
  @apply h-screen flex justify-center items-center;
}
.card {
  @apply bg-gray-50  rounded-xl p-4 shadow-lg;
}


.btn-primary {
  @apply bg-rose-500 p-3 text-slate-50;
}
.title {
  @apply text-7xl;
}

.title-2 {
  @apply text-5xl mb-4;
}

.title-3 {
  @apply text-2xl mb-2;
}

.text-enphasis {
  @apply text-2xl my-3 text-slate-500;
}

.details {
  @apply text-rose-500 text-xl;
}
.nav{
  @apply flex content-center items-center gap-4;
}
.nav  li{
  @apply p-1 hover:border-b-2 border-b-rose-500;
}
.nav li:last-child{
  @apply hover:border-0;
}
.layer {
  background: rgba(225, 29, 72, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  inline-height: 0;
  padding: 0;
}

.layer:hover {
  background-color: transparent;
}

.ul-about li::before {
  content: "»";
  margin-right: 0.5rem;
  font-size: 1.5rem;
  @apply text-rose-500;
}

.input-field{
  @apply p-4 text-xl border-rose-200 border-2 rounded-md;
  @apply focus-visible:outline-2 outline-rose-500;
}

/* Styles for Experience table only */
.organizations-list {
  border-left: 3px solid rgb(252, 133, 133);
  margin:0;
  padding:0;
}
.organizations-list li:focus-visible,
.organizations-list li:hover{
  width:100%;
  border-color: transparent;
  @apply bg-rose-500 text-slate-50;
} 

.organizations-list li button {
  width: 100%;
  padding: 1rem;
  text-align: left;
  background-color: transparent;
  border: none;
}
.organizations-list li button:focus-visible,
.organizations-list li button:focus {
  margin-left:-3px;
  outline-color: transparent;
  @apply bg-rose-500 text-slate-50;
}
