.presentation {
  height:100vh; 
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation .enphasis {
  color: #c9103e;
  opacity: 1;
}
.presentation h2 {
  opacity: 0.65;
  font-weight: 400;
}
.presentation button {
  margin-top: 2rem;
  width: 8rem;
}
.presentation p {
  margin-top: 1rem;
  width: 75%;
}
.about {
  height:100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.about p {
  margin-top: 1rem;
}
.about ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  justify-items: start;
  column-gap:1rem;

}

.about ul li::before {
  content: "\2013";
  margin-right: 0.5rem;
  color: black;
}
.profile {
  margin-top: 4rem;
  width: 20rem;
}

.profile img {
  max-width: 100%;
}

.experience{
  height:100vh;
}
