.slug{
    max-width:60%;
    margin-top:0.75rem;
}
.slug img{
    width: 100%;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

.content{
    max-width: 60%;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: justify;
}

.author{
    width: 60%;
    padding: 1rem;
    display:flex;
    gap: 3rem;
    border-top:1px solid black;
    
}
.avatar{
    position: relative;
    width: 4.5rem;
}
.profile{
    border-radius: 50%;
}