.experienceTable {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}
.experienceTable ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.organizationsList {
  border-left: 1px solid rgb(252, 133, 133);
}

.organizationsList li:focus-visible,
.organizationList li:hover {
  border-color: transparent;
  border-left: 2px solid red;
}

.organizationList .button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  background-color: transparent;
  border: none;
}
.organizationList button:focus-visible {
  border-color: transparent;
}
